.list-item {
    text-align: right;
    justify-content: end;
    align-items: right;
    align-self: right;
    position: absolute;
    right: 30px;
}

.timer test-right {
    position: right;
    right: 10px;
}

    